.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-position:center;
	height: 50vh;
	position: relative;
}

.carousel-control-next:hover,.carousel-control-prev:hover{
	background:rgba(0,0,0,0.5);
}